/* css_reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------- */
/* chattalker_index_css */
body{ 
font-family: Noto Sans TC, sans-serif , normal;
font-weight: 300;
}
.content_title{ color: #221E1F; font-size: 32px; line-height: 46px; font-weight: bold; text-align: center; margin: 2% 0;}
.box_shadow{ background: #fff; box-shadow: 0px 2px 10px #00000014; border-radius: 12px;}

.chattalker_index_container{ width: 100%; margin: 0 auto; position: relative;}

.index_top_content_bg{ 
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg) no-repeat top right; 
    background-size: 62%; height: 768px; 
}
.index_top_content_bg:after{ 
    content: '';
    display: block;
    width: 10%; height: 360px;
    position: absolute; top: 20%;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
    background-repeat: no-repeat; background-size: 300px; background-position: top right;
}
.index_top_content{ max-width: 1366px; height: auto; padding: 0 10%; margin: 0 auto;}
/* for_top */
.for_top{ display: flex; justify-content: space-between; align-items: center; padding: 24px 5% 48px 5%;}
.for_top .logo{ width: 200px; image-rendering: -webkit-optimize-contrast;}
.for_top .logo img{ width: 100%;}
.for_top_btn a{ display: block; text-decoration: none; text-align: center; line-height: 1.8;
    padding: 8px 32px; color: #fff; background-color: #FF5D50; border-radius: 22px; transition-duration: 0.3s;}
.for_top_btn a:hover{ filter:brightness(1.2)}

/* banner_text_picture */
.content_banner{ display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.content_banner span{ font-size: 18px; line-height: 26px; color: #56C4C5; font-weight: bold;}
.content_banner h1{ font-size: 48px; line-height: 70px; font-weight: bold; margin: 8px 0 16px 0;}
.content_banner p{ font-size: 20px; line-height: 29px; font-weight: normal;}
.content_banner_img img{ width: 516px;}

/* content_social_media_item_all */
.content_social_media{ margin: 8% 0;}
.content_social_media_items_all{ max-width: 969px; display: flex; justify-content: space-between; margin: 46px auto; gap: 10px;}
.content_social_media_item{ width: 33%; display: flex; flex-direction: column; align-items: center; text-align: center;}
.content_social_media_items_all img{ width: 90px;}
.content_social_media_item h3 { font-size: 24px; line-height: 35px; font-weight: bold; margin: 24px auto; color: #221E1F;}
.content_social_media_item p{ font-size: 16px; line-height: 24px; color: #747474;}

/* content_category_item_all */
.content_category{ position: relative; margin-bottom: 8%;}
.content_category_items_all_box:after{ 
	content: '';
	display: block;
	width: 210px;
	height: 310px;
	position: absolute;
	top: 60%;
	right: 0%;
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg);
    background-repeat: no-repeat; background-size: 300px; background-position: top left;}
.content_category_items_all_box{ display: flex; justify-content: center;}
.content_title span{ font-size: 20px; line-height: 29px; font-weight: normal;}
.content_category_items_all{ display: flex; max-width: 1088px; z-index: 99; gap: 15px;}
.content_category_item{ width: 25%; border-radius: 12px; overflow: hidden; font-size: 16px; line-height: 24px; text-align: center; padding-bottom: 24px;}
li.content_category_item:nth-child(1){ margin-left: 0;}
li.content_category_item:nth-child(4){ margin-right: 0;}
.content_category_item img{ width: 100%; border-radius: 12px 12px 0 0;}
.content_category_item h3{ color:#56C4C5; font-size: 18px; font-weight: bold; margin: 16px auto;}

/* content_article */
.content_article{ display: flex; max-width: 1088px; margin: 0 auto; margin-bottom: 8%;}
.content_article_left{ width: 60%; display: flex; flex-direction: row; flex-wrap: wrap; gap: 30px;}
.content_article_item{ width: 230px; box-sizing: border-box; padding: 32px 32px 48px 32px; font-size: 16px; line-height: 24px;}
.content_article_pic{ border-radius: 100%; width: 86px; height: 86px; box-shadow: 0px 2px 10px #00000014;
display: flex; justify-content: center; align-items: center;}
.content_article_pic img{ width: 52px;}
.content_article_item h3{ font-size: 18px; line-height: 26px; font-weight: bold; margin: 16px 0;}
/* content_article_right */
.content_article_right{ width: 40%; text-align: left; font-size: 18px; line-height: 26px; display: flex; align-items: center;}
.content_article_right h2{ text-align: left;}
.content_article_btn{ width: 136px;}
.content_article_right a{ display: block; color: #fff; background: #56C4C5; border-radius: 27px; text-decoration: none; padding: 12px 32px; margin: 24px 0; transition-duration: 0.3s;}
.content_article_right a:hover{ filter: brightness(1.1);}

/* content_comment */
.content_comment{ max-width: 1088px; margin: 0 auto; margin-bottom: 8%;}
.content_comment_all{ display: flex; margin: 10% 0 3% 0; position: relative; gap: 15px;}
.content_comment_all:before{ content: ''; width: 150px; height: 150px; position: absolute; top: -110px; left: -86px;
background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
background-size: 150px;}
.content_comment_item{ width: 33%; padding: 48px 32px 24px 32px; box-sizing: border-box; font-size: 16px; line-height: 24px; position: relative;}
.content_comment_pic{ width: 84px; height: 84px; border-radius: 100%; display: flex; justify-content: center; align-items: center; overflow: hidden;
position: absolute; top: -25%;}
.content_comment_pic img{ width: 100%;}
.content_comment_text_top{ border-bottom: 1px solid #e3e3e3; height: 50%; padding-bottom: 18px;}
.content_comment_text_top p { margin-bottom: 18px;}
.content_comment_text_bottom h3{ font-weight: bold; line-height: 24px; margin: 18px 0 8px 0;}
.content_comment_text_bottom div{ display: flex; justify-content: space-between;}
.grade_star img{ width: 16px; margin: 0 2px;}
.page_bottom{ display: flex; width: 100%; justify-content: center;}
.page_bottom .dot{ width: 10px; height: 10px; border-radius: 50px; background: #DDDDDD; margin: 0 4px;}
.page_bottom .dot_active{ width: 16px; background: #FFD153;}

/* content_page */
.content_page{ display: flex; flex-direction: column; justify-content: center; align-items: center; height: 503px; position: relative;
background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg) no-repeat center center;
background-size: cover;}
.content_page_text{ display: flex; flex-direction: column; justify-content: center; align-items: center;  position: relative; top: 23%;}
.content_page h2{ margin-bottom: 48px;}
.content_page_btn a { color: #fff; background: #56C4C5; text-decoration: none; border-radius: 27px; padding: 12px 32px; transition-duration: 0.3s;}
.content_page_btn a:hover { filter: brightness(1.1);}

/* scroll_top_btn */
.scroll_top_btn{ position: fixed; top: 70%; right: 5%; z-index: 999;}
.scroll_top_btn a{ display: flex; justify-content: center; align-items: center;  text-decoration: none; width: 71px; height: 71px; border-radius: 100%; color: #fff; font-weight: bold; background: #56C4C5; transition-duration: 0.3s;}
.scroll_top_btn a:hover { filter: brightness(1.1);}

/* footer */
.footer{ background: #F5F5F5; font-size: 16px; line-height: 24px; text-align: center; padding: 16px 0;}

/* mobile */
@media screen and (max-width: 1280px){
	.content_banner_img img { width: 400px;}
	.index_top_content_bg:after{ width: 8%;}
	.content_social_media{ padding: 0 6%;}
	.content_category{ padding: 0 3%;}
	.content_article{ padding: 0 3%;}
	.content_comment{ padding: 0 3%;}
}
@media screen and (max-width: 960px){ 
	.content_article_left{ width: 100%;}
	.content_comment_pic{ top: -18%;}
}

@media screen and (max-width: 768px){
	.index_top_content_bg{ background: none; height: auto;}
	.index_top_content_bg:after{ width: 50px; height: 110px;
		position: absolute; top: 12%; background-size: 110px;}
	.index_top_content{ padding: 0 5%;}
	/* for_top_mobile */
	.for_top{ padding: 10px 5%; border-bottom: 2px solid #F5CA52;}
	.for_top .logo{ width: 120px;}
	.for_top_btn a{ padding: 6px 32px;}
	/* banner_text_picture_mobile */
	.content_banner{ flex-direction: column;}
	.content_banner_text{ margin: 32px 0;}
	.content_banner span{ font-size: 16px; line-height: 24px;}
	.content_banner h1{ font-size: 32px; line-height: 46px;}
	.content_banner p{ font-size: 16px; line-height: 24px;}
	.content_banner_img{ 
	background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg) no-repeat center center;
	background-size: 100%;}
	.content_banner_img{ width: 100%; display: flex; justify-content: center;}
	.content_banner_img img{ width: 100%;}

	.content_title{ font-size: 28px; line-height: 40px; margin-bottom: 5%;}
	/* content_social_media */
	.content_social_media{ margin-top: 10%;}
	.content_social_media_items_all{ max-width: 100%; flex-direction: column; margin: 10px auto;}
	.content_social_media_item{ width: 100%; padding: 0; margin: 4% 0;}
	.content_social_media_item:nth-child(1), .content_social_media_item:nth-child(3) { margin: 4% 0;}
	.content_social_media_items_all img{ width: 60px;}
	.content_social_media_item h3{ font-size: 18px; line-height: 26px; width: 184px;}

	/* content_category */
	.content_category{ padding: 3%;}
	.content_category_items_all{ flex-direction: column; width: 100%;}
	.content_category_items_all_box:after{ width: 88px; height: 135px; background-size: 135px; top: 93%;}
	.content_category_item{ width: 100%;}
	.content_title span{ font-size: 18px; line-height: 26px;}

	/* content_article */
	.content_article{ flex-direction: column-reverse; justify-content: center;}
	.content_article_left{ width: 100%; flex-direction: column; align-items: center;}
	.content_article_item{ width: 100%; display: flex; flex-direction: column; align-items: center;}
	.content_article_right{ width: 100%; margin-bottom: 12px;}
	.content_article_right_text{ width: 80%; margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
	.content_article_right h2{ text-align: center;}

	/* content_comment */
	.content_comment_all{ flex-direction: column; margin: 0 auto; margin-top: 23%;}
	.content_comment_item{ width: 100%; margin: 0 auto;}
	.content_comment_mobile_hide{ display: none;}
	.page_bottom{ margin: 6% 0;}

	/* cotent_page */
	.content_page{ height: 375px; background: none; padding-bottom: 15%;}
	.content_page_mobile_bg{ 
		width: 100%; height: 280px;
		background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg) no-repeat center center;
		background-size: cover;
	}
	.content_page_text{ top: 0;}
	.content_page_text h2{ font-size: 24px; line-height: 35px; margin: 0 auto; margin-bottom: 38px;}
	
	/* scroll_top_btn*/
	.scroll_top_btn{ right: 3%; top: 80%;}
	.scroll_top_btn a{ width: 50px; height: 50px; font-size: 14px;}
}